<component name="libraryTable">
  <library name="spring-boot-devtools-2.7.18">
    <CLASSES>
      <root url="jar://$USER_HOME$/Documents/WeChat Files/wxid_ectigrwjra3b22/FileStorage/File/2025-05/spring-boot-devtools-2.7.18.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>