package ${packageName}.domain;

    #foreach ($import in $importList)
    import ${import};
    #end
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.Data;

import java.time.*;

import org.springframework.format.annotation.DateTimeFormat;
    #if($table.crud || $table.sub)
    import com.szmtr.common.core.web.domain.BaseEntity;
    #elseif($table.tree)
    import com.szmtr.common.core.web.domain.TreeEntity;
    #end
import java.io.Serializable;
    ## ---------- 日期类型导入 ----------
    #if($hasLocalDateTime)
    import java.time.LocalDateTime;
    #end
    #if($hasLocalDate)
    import java.time.LocalDate;
    #end
import java.util.Date;


@Data
public class ${ClassName}Dto implements Serializable {
    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
        ## ---------- 主键字段处理 ----------
        #if($column.isPk())
            ##            @TableId(type = IdType.${idType})
            private ${column.javaType} ${column.javaField};
        #else
            ## ---------- 普通字段处理 ----------
            #if($column.columnComment != '')
                /** ${column.columnComment} */
            #end
            ## ---------- 日期字段处理 ----------
            #if($column.javaType == 'LocalDateTime')
                @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
                @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
                private LocalDateTime ${column.javaField};
            #elseif($column.javaType == 'LocalDate')
                @JsonFormat(pattern = "yyyy-MM-dd")
                @DateTimeFormat(pattern = "yyyy-MM-dd")
                private LocalDate ${column.javaField};
            #elseif($column.javaType == 'Date')
                @JsonFormat(pattern = "yyyy-MM-dd")
                @DateTimeFormat(pattern = "yyyy-MM-dd")
                private LocalDate ${column.javaField};
            #else
                private ${column.javaType} ${column.javaField};
            #end
        #end

    #end
}
